@{
    List<string> kategoriler = new List<string>()
    {
        "Bilgisayar",
        "Monitörler",
        "Klavyeler",
        "Mouselar",
        "Laptoplar",
        "Aksesuarlar"
    };
}
<ul class="list-group">
    @foreach (string kategori in kategoriler)
    {
        <li class="list-group-item">
            <a href="/Home/Index?adi=@kategori">
                @kategori
            </a>
        </li>
    }
</ul>
