<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hata Oluştu</title>
</head>
<body>
    <hgroup>
        <h1>Hata Oluştu</h1>
        <h2>Sayfa çalıştırılırken bir hata oluştu.</h2>
    </hgroup>
    <p class="lead">
        Bu sayfa uygulamada bir hata oluştuğunda çalışır..
    </p>
</body>
</html>
