@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">
        View lar MVC deki V harfini ifade eder ve uygulamanın kullanıcılırının gördüğü web sayfalarıdır. <br />
        View görünüm anlamna gelir. <br />
        View ların çalışması için controller tarafında action ile tetiklenmeye ihtiyacı vardır.<br />
        Adres çubuğundan gelen action bilgisine göre hangi view ın ekrana getirileceğini Mvc deki routing mekanizması belirler. <br />
        View larda hem csahrp hem de html, css, js kodları yazılabilir. <br />
        Mvc de web form daki master page kavramı bulunur ve ismi burada _Layout.cshtml dir. <br />
        Adres çubuğunda view lerin uzantısı olan .cshtml yazılmaz!
    </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

