
@{
    ViewBag.Title = "Bootstrap3";
}

<h2>Bootstrap3</h2>

<h3>Renk Classları</h3>

<p>Renksiz yazı</p>

<p class="text-primary">text-primary</p>
<p class="text-secondary">text-secondary</p>
<p class="text-success">text-success</p>
<p class="text-danger">text-danger</p>
<p class="text-warning">text-warning</p>
<p class="text-info">text-info</p>
<p class="text-light bg-dark">text-light</p>
<p class="text-dark">text-dark</p>
<p class="text-muted">text-muted</p>
<p class="text-white bg-dark">text-white</p>
<p class="text-black-50">text-white</p>
<p class="text-white-50 bg-dark">text-white</p>

<hr />

<h3>
    Arkaplan Renkleri
</h3>

<p class="box text-white bg-danger">bg-danger</p>
<p class="box text-white bg-success">bg-success</p>
<p class="box text-white bg-warning">bg-warning</p>
<p class="box text-white bg-primary">bg-primary</p>
<p class="box text-white bg-secondary">bg-secondary</p>
